<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <body>
        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <h1 class="text-center login-title">Sign in</h1>
                    <div class="account-wall" align="center">
                        {% if form.errors %}
                        <p align="center">Your username and password didn't match. Please try again.</p>
                        {% endif %}

                        {% if next %}
                            {% if user.is_authenticated %}
                            <p align="center">Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                            {% else %}
                            <p align="center">Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                        <form class="form-signin" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="30" placeholder="{{ form.username.html_name }}" name="{{ form.username.html_name }}" required autofocus />
                            <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="30" placeholder="{{ form.password.html_name }}" name="{{ form.password.html_name }}" type="password" required />
                            <input type="submit" class="btn btn-primary" value="login" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                        {# Assumes you setup the password_reset view in your URLconf #}
                        <p><a href="{% url 'password_reset' %}" class="pull-right need-help">Lost password?</a></p>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
    </body>