<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <body>
        {% block content %}

        <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <input class="form-control" style="width: 300px;" id="{{ form.email.id_for_label }}" placeholder="{{ form.email.html_name }}" name="{{ form.email.html_name }}" required />
            <input type="submit" class="btn btn-primary" value="Reset password" />
        </form>

        {% endblock %}
    </body>
</html>