<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
</head>
<body>
	<div>
		<h1 style="display: inline">Logs</h1>
		<h2 style="display: inline"> <a href="allAlarms">Alarms</a></h2>
		{% if perms.alarmService.get_alarm_rules %}
		<h2 style="display: inline"><a href="alarmRules">Alarm Rules</a></h2>
		{% endif %}
        <a href="/accounts/logout" class="btn btn-primary" role="button" style="float: right;">Logout</a>
	</div>
	<br>
	<div class="row">
		<div class="col">
			<h4>Search Logs</h4>
			<form action="getLogs" method="get">
				<input type="hidden"  name="from"/>
				<input type="hidden" value="{{tolog}}" name="to"/>
				<br>
				Facility:
				<br>
				<input type="text" name="facility" value="{{ facility }}" style="width:100%;"/>
				<br>
				Severity:
				<br>
				<input type="text" name="severity" value="{{severity}}" style="width:100%;"/>
				<br>
				Host name:
				<br>
				<input type="text" name="hostname" value="{{hostname}}" style="width:100%;"/>
				<br>
				Application name:
				<br>
				<input type="text" name="appname" value="{{appname}}" style="width:100%;"/>
				<br>
				Message ID:
				<br>
				<input type="text" name="msgid" value="{{msgid}}" style="width:100%;"/>
				<br>
				Date from:
				<br>
				<input type="text" name="timestampfrom" style="width:100%;"/>
				<br>
				Date to:
				<br>
				<input type="text" name="timestampto" style="width:100%;"/>
				<br>
				<input type="submit" class="btn" value="Search" name="search" style="width:100%;">
			</form>
			<form action="getLogs" method="get">
				{% for i in total_pages %}
					<input type="submit" class="btn" value="{{ i }}">
				{% endfor %}
			</form>
		</div>
		<div class="col-10">
			<table class="table table-striped">
				<tr class="thead-dark">
					<th>Facility</th>
					<th>Severity</th>
					<th>Version</th>
					<th>Time stamp</th>
					<th>Host name</th>
					<th>Application name</th>
					<th>Proc ID</th>
					<th>Message ID</th>
					<th>Structured Data</th>
					<th>Message</th>
				</tr>
				{% for log in logs %}
				<tr>
					<td>{{ log.facility }}</td>
					<td>{{ log.severity }}</td>                
					<td>{{ log.version }}</td>
					<td>{{ log.timestamp }}</td>
					<td>{{ log.hostname }}</td>
					<td>{{ log.appname }}</td>
					<td>{{ log.procid }}</td>
					<td>{{ log.msgid }}</td>
					<td>{{ log.structuredData }}</td>
					<td>{{ log.msg }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>

	</div>
</body>
</html>