<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Alarm Logs</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
      <style>
         /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
         .row.content {height: 1500px}
         /* Set gray background color and 100% height */
         .sidenav {
         background-color: #f1f1f1;
         height: 100%;
         }
         /* Set black background color, white text and some padding */
         footer {
         background-color: #555;
         color: white;
         padding: 15px;
         }
         /* On small screens, set height to 'auto' for sidenav and grid */
         @media screen and (max-width: 767px) {
         .sidenav {
         height: auto;
         padding: 15px;
         }
         .row.content {height: auto;} 
         }
      </style>
   </head>
   <body>
      <div style="background-color: #555;
      color: white;
      padding: 15px;">
         <h2 style="display: inline"><a style="text-decoration: none" href="getLogs">   Logs   </a></h2>
         <h2 style="display: inline"><a style="text-decoration: none" href="allAlarms">   Triggered Alarms   </a></h2>
		 <h2 style="display: inline"><a href="alarmMonitoring" style="text-decoration:none">   Alarm Monitoring   </a></h2>
         {% if perms.alarmService.get_alarm_rules %}
         <h1 style="display: inline">   Alarm Triggering Rules   </h1>
         {% endif %}
         <h2 style="display: inline"><a href="/api/report" style="text-decoration: none">Report</a></h2>
         <a href="/accounts/logout" class="btn btn-primary" role="button" style="float: right;">Logout</a>
      </div>
      <div class="container-fluid">
         <div class="row content">
            <div class="col-sm-3 sidenav">
               <h4>Create alarm rule</h4>
               <form method = post action = "./generateAlarm">
                    About alarm:
                    <br>
                    <input class="form-control" name='text' style="width:100%;"/>

                  Facility regex:
                  <br>
                  <input class="form-control" name='regfacility' style="width:100%;"/>
                  Severity regex:
                  <br>
                  <input class="form-control" name='regseverity' style="width:100%;"/>
                  Host name regex:
                  <br>
                  <input class="form-control" name='reghostname' style="width:100%;"/>
                  Application name regex:
                  <br>
                  <input class="form-control" name='regappname' style="width:100%;"/>
                  Message ID regex:
                  <br>
                  <input class="form-control" name='regmsgid' style="width:100%;"/>
                  System specified:
                  <input type="checkbox" name="sysspec"/>
				  <br>
                  Machine specified:
                  <input type="checkbox" name="macspec"/>
                  <br>
                  Application specific:
                  <input type="checkbox" name="appspec"/>
                  <br>
                  Unique meesage ID specified:
                  <input type="checkbox" name="rmispec"/>
                  <br>

                  Type:
                  <br>
                  <select class="form-control" name="type" style="width:100%;">
                     <option value="Emergency">Emergency</option>
                     <option value="Alert">Alert</option>
                     <option value="Critical">Critical</option>
                     <option value="Error">Error</option>
                     <option value="Warning">Warning</option>
                     <option value="Notice">Notice</option>
                  </select>
                  Number of repeats:
                  <br>
                  <input class="form-control" name='repeat' pattern="[0-9.]+" style="width:100%;"/>
                  Minutes
                  <br>
                  <input class="form-control" name='hours' id='hours' pattern="[0-9.]+" style="width:100%;"/>
                  <br>
                  <input class="btn btn-primary active" type="submit" value="Generate Rule" style="width:100%;"/>
               </form>
            </div>
            <div class="col-sm-9 table-responsive" style="padding-left:0;padding-right:0">
               <table class="table table-striped">
                  <tr class="thead-dark">
                     <th>About Alarm</th>

                     <th>Type</th>

                     <th>Active</th>
					 <th>Edit</th>
                  </tr>
                  {% for alarm in alarmrules %}
                  <tr>
                     <td>{{ alarm.text }}</td>

                     <td>{{ alarm.type }}</td>

                     <td>{{ alarm.active }}</td>
					 <td>
						 <form action="editAlarmRules" method="get">
							<input type="hidden" value={{ alarm.id }} name="id" />
							<input type="submit" class="btn" value="Edit" name="search" style="width:100%;">
						 </form>
					 </td>
                  </tr>
                  {% endfor %}
               </table>
            </div>
         </div>
      </div>
   </body>
</html>