<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Logs</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
      <script>
         function fromTo(i) {
         	document.getElementById("from").value = (i-1)*50;
         	document.getElementById("to").value=i*50;
         	document.getElementById("submit").click();
         }

         function sortTable(n) {
			  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
			  table = document.getElementById("myTable");
			  switching = true;
			  // Set the sorting direction to ascending:
			  dir = "asc";
			  /* Make a loop that will continue until
			  no switching has been done: */
			  while (switching) {
				// Start by saying: no switching is done:
				switching = false;
				rows = table.getElementsByTagName("TR");
				/* Loop through all table rows (except the
				first, which contains table headers): */
				for (i= 1; i < (rows.length - 1); i++) {
				  // Start by saying there should be no switching:
				  shouldSwitch = false;
				  /* Get the two elements you want to compare,
				  one from current row and one from the next: */
				  x = rows[i].getElementsByTagName("TD")[n];
				  y = rows[i + 1].getElementsByTagName("TD")[n];
				  /* Check if the two rows should switch place,
				  based on the direction, asc or desc: */
				  if (dir == "asc") {
					if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
					  // If so, mark as a switch and break the loop:
					  shouldSwitch = true;
					  break;
					}
				  } else if (dir == "desc") {
					if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
					  // If so, mark as a switch and break the loop:
					  shouldSwitch = true;
					  break;
					}
				  }
				}
				if (shouldSwitch) {
				  /* If a switch has been marked, make the switch
				  and mark that a switch has been done: */
				  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				  switching = true;
				  // Each time a switch is done, increase this count by 1:
				  switchcount ++;
				} else {
				  /* If no switching has been done AND the direction is "asc",
				  set the direction to "desc" and run the while loop again. */
				  if (switchcount == 0 && dir == "asc") {
					dir = "desc";
					switching = true;
				  }
				}
			  }
			}
      </script>
      <style>
         /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
         .row.content {height: 1500px}
         /* Set gray background color and 100% height */
         .sidenav {
         background-color: #f1f1f1;
         height: 100%;
         }
         /* Set black background color, white text and some padding */
         footer {
         background-color: #555;
         color: white;
         padding: 15px;
         }
         /* On small screens, set height to 'auto' for sidenav and grid */
         @media screen and (max-width: 767px) {
         .sidenav {
         height: auto;
         padding: 15px;
         }
         .row.content {height: auto;} 
         }
      </style>
   </head>
   <body>
		<div style="background-color: #555;
         color: white;
         padding: 15px;">
         <h2 style="display: inline">
         <a href="getLogs" style="text-decoration: none">   Logs   </a></h2>
         <h1 style="display: inline">   Alarms   </h1>
		 <h1 style="display: inline"><a href="alarmMonitoring" style="text-decoration:none">   Alarm Monitoring   </a></h1>
         {% if perms.alarmService.get_alarm_rules %}
         <h2 style="display: inline"><a style="text-decoration: none" href="alarmRules">   Alarm Rules   </a></h2>
         {% endif %}
           <h2 style="display: inline"><a href="/api/report" style="text-decoration: none">Report</a></h2>
         <a href="/accounts/logout" class="btn btn-primary" role="button" style="float: right;">Logout</a>
      </div>
      <div class="container-fluid">
         <div class="row content">
            <div class="col-sm-3 sidenav">
			  <h4>Search Logs</h4>
			  <form action="getAlarmLogs" method="get">
				  <input id="from" type="hidden" value="{{ fromalarm }}" name="from"/>
                  <input id="to" type="hidden" value="{{toalarm}}" name="to"/>
				  Date from:
                  <br>
                  <input class="form-control" type="text" name="timestampfrom" style="width:100%;"/>
                  Date to:
                  <br>
                  <input class="form-control" type="text" name="timestampto" style="width:100%;"/>
                  <input class="btn btn-primary active" id="submit" type="submit" class="btn" value="Search" name="submit" style="width:100%;">
               </form>
            </div>
            <div class="col-sm-9">
               <table class="table table-striped">
                  <tr class="thead-dark">
                     <th onclick="sortTable(0)">Alarm</th>
                     <th onclick="sortTable(1)">Time</th>
                     <th onclick="sortTable(2)">Machine</th>
                     <th onclick="sortTable(3)">Resolved</th>
					 <th></th>
                  </tr>
                  {% for alarm in alarms %}
                  <tr>
                     <td>{{ alarm.alarm }}</td>
                     <td>{{ alarm.time }}</td>
                     <td>{{ alarm.machine }}</td>
                     <td>{{ alarm.seen }}</td>
					 <td>
						 <form action="getAlarm" method="get">
							<input type="hidden" value={{ alarm.id }} name="id" />
							<input type="submit" class="btn" value="Info" name="search" style="width:100%;">
						 </form>
					 </td>
                  </tr>
                  {% endfor %}
               </table>
			   {% for i in total_pages %}
					{% if currPage  == i %}
                       <p>{{ i }}</p>
					{% endif %}
					{% if currPage != i %}
                       <input type="button" value="{{ i }}" onclick="fromTo('{{ i }}');">
					{% endif %}
			    {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>