<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method = post action = "./generateAlarm">
		<table>
			<tr>
				<td>Regexp
					<input name='regexp'>
				</td>
			</tr>
			<tr>
				<td>Text
					<input name='text'>
				</td>
			</tr>
			<tr>
				<td>Type
					<input name='type'>
				</td>
			</tr>
			<tr>
				<td>Repeat
					<input name='repeat'>
				</td>
			</tr>
			<tr>
				<td>System specified
					  <input type="checkbox" name="sysspec"><br>
				</td>
			</tr>
			<tr>
				<td>Machine specified
					  <input type="checkbox" name="macspec"><br>
				</td>
			</tr>
			<tr>
				<td>Timed
					  <input type="checkbox" name="timed"><br>
				</td>
			</tr>
			<tr>
				<td>Hours
					<input name='hours'>
				</td>
			</tr>
			<tr><td></td><td><input type="submit" value="Generate"/></td></tr>
		</table>
	</form>
</body>
</html>